.main {
    background-color: black;
    color: rgb(0, 255, 0);
}
.header {
    height: 80px;
    border: 2px solid white;
}
.text-type {
  display: inline-block;
  display: flex;
}
.cursor {
  width: 2px;
  height: 20px;
  background-color: white;
  animation: cur 1.5s ease infinite;
}
@keyframes cur{
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
.typing-text {
  height: 30px;
  overflow-x: hidden;
  width: 450px;
  white-space: nowrap;
  animation: typing 4s steps(48) infinite;
}
@keyframes typing {
  0% {
    width: 0px;
  }
  70% {
    width: 450px;
  }
  100% {
    width: 450px;
  }
}
.body {
    height: calc(100vh - 80px);
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.side-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 2px solid white;
    
}

.morph {
  width: 300px;
  height: 300px;
  background-color: rgba(232, 212, 212, 0.668);
  animation: pulse 10s linear infinite;
  border-radius: 38% 62% 37% 63% / 70% 56% 44% 30%;
  border: 3px solid rgb(0, 250, 0);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.morph img {
  width: 326px;
}

@keyframes pulse {
  0% {
    border-radius: 38% 62% 37% 63% / 70% 56% 44% 30%;
  }
  25% {
    border-radius: 46% 54% 43% 57% / 64% 60% 40% 36%;    
  }
  50% {
    border-radius: 46% 54% 57% 43% / 45% 60% 40% 55% ;    
  }
  75% {
    border-radius: 55% 45% 66% 34% / 45% 52% 48% 55%;    
  }
  100% {
    border-radius: 38% 62% 37% 63% / 70% 56% 44% 30% ;    
  }
}


/* start media */
.cards {
  width: fit-content;
  height: fit-content;
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
  gap: 10px;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: .3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #293dd6;
  transition-duration: .3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #ee0000;
  transition-duration: .3s;
}
.socialContainer:active {
  transform: scale(0.9);
  transition-duration: .3s;
}

.socialSvg {
  width: 17px;
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* start body */
/* start terminal */
.terminal {
    padding: 20px 40px;
    font-size: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 80px);
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.4;
}
.menu {
    display: flex;
    gap: 5px;
    padding: 0;
    flex-wrap: wrap;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.42);
}
.menu li {
    list-style: none;
}
.command-line {
  height: fit-content;
  align-items: center;
}
.command-line input {
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  color: white;
  font-size: 16px;
}
.command-line input:focus {
  outline: none;
}
.display-list {
  /* border-left: 2px solid orange; */
  font-family: monospace;
  white-space: pre-wrap;
  padding-left: 15px;
}
.setting {
  border-left: 2px solid orange;
}


.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 2px;
  height: 10px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 10px;
  animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 20px;
  margin: 0 3px;
  animation-delay: .25s;
}

.bar:nth-child(3) {
  animation-delay: .5s;
}

@keyframes scale-up4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}

@media (max-width: 870px){
  .side-bar {
    display: none !important;
  }
  .terminal {
    width: 100% !important;
  }
}
@media (max-width: 600px){
  .header {
    height: 60px;
  }
  .body {
    height: calc(100vh - 60px);
  }
  .command-line input {
    font-size: 12px;
    width: 130px;
  }
  .cursor {
    height: 15px;
  }
}