/* You can add global styles to this file, and also import other style files */
* {     
  font-family: 'JetBrains Mono', 'Noto Sans Khmer', monospace;
  font-size: 16px;
  color: rgb(0, 255, 0);
}
@media (max-width: 600px) {
  * {
      font-size: 12px;
  }
}
